<div class="card">
  <div class="card-block">
    <div class="card-text">
      <div class="question-div">
        <div class="clr-row question-title" >
          <span class="clr-col-lg-1 span-avatar span-avatar-question">J</span>
          <p class="clr-col-lg-6 question-p">{{topic?.topicName}}</p>
          <span class="clr-col-lg-2">{{topic?.category.categoryName}}</span>
        </div>
        <div class="">
          <p class="question">Crée le {{topic?.dateTime}} par Julie</p>
        </div>
      </div>

      <div class="question-info">
        <div>
          <clr-icon shape="chat-bubble" size="24"></clr-icon>
          <span> 22</span>
        </div>
        <div>
          <clr-icon shape="thumbs-up" size="24" class="is-info"></clr-icon>
          <span> 44</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card description-card">
  <div class="card-block">
    <div class="card-text description-question">
      <p class="question">Description de mon problème assez embetant</p>
      <div class="add-like">
        <a href="#" class="like-link"><clr-icon shape="thumbs-up" size="20" class="is-info"></clr-icon></a>
        <span>44</span>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let message of messages" class="clr-col-lg-11 list-messages">
  <div class="card">
    <div class="card-block card-block-message">
      <div class="card-message card-message-title">
        <span class="span-avatar margin-right">J</span>
        <span class="margin-right">Julie</span>
        <span>Le {{message?.dateTime}} à {{message?.dateTime}}</span>
      </div>
      <div class="message-body">
        <div class="add-like-message">
          <a href="#" class="like-link"><clr-icon shape="thumbs-up" size="20" class="is-info"></clr-icon></a>
          <span>44</span>
        </div>
        <p class="">{{message?.message}}</p>
      </div>
    </div>
  </div>
</div>

<div class="writing-content">
  <form class="clr-form">
    <div class="clr-control-container">
      <textarea placeholder="Ecrivez votre message ici" class="clr-textarea" (change)="setMessage($event)"></textarea>
      <button class="btn btn-success" (click)="postMessage()">Poster</button>
    </div>
  </form>
</div>

