.question-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question {
  margin: 0;
  display: inline-block;
  margin-left: 3.5rem;
}

.question-p {
  margin: 0;
  display: inline-block;
}


.img-question {
  width: 1rem;
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-div {
  width: 90%;
}

.question-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-like {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.description-question {
  align-items: center;
}

.like-link {
  background-color: hsl(198, 0%, 93%);
  border-radius: 25px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-card {
  margin-top: 0;
}

.span-avatar {
  max-width: 1.5rem;
  height: 1.5rem;
  background-color: #55D0DB;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-large;
  padding: 1rem;
  margin-right: 1.5rem;

}

.span-avatar-question {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.card-message {
  display: flex;
  align-items: center;
}

.margin-right {
  margin-right: 1rem;
}

.card-block-message {
  display: flex;
  flex-direction: column;
}

.add-like-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5rem;
}

.message-body {
  display: flex;
  flex-direction: row;
}

.card-message-title {
  margin-bottom: 1rem;
}

.list-messages {
  margin: auto;
}

.writing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.clr-form {
  width: 100%;
}

.clr-control-container {
  width: 100%;
}

.clr-textarea {
  width: 100%;
}
