.info-first-part {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 0.2rem;
}

.info-first-part .vertic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-first-part .vertic .icon-custom {
  border-top: #ccc 1px solid;
  padding-top: 0.2rem;
}

.card-block {
  display: flex;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categorie-content {
  border-radius: 5rem;
  padding: 0.2rem 0.5rem;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:hover .card {
  background-color: #eff2f5;
}

a:hover .info-first-part {
  color: #575757;
}

a:hover .card-text {
  color: #575757;
}

.yellow-background {
  background-color: #F7C948;
  color: black;
}

.blue-background {
  background-color: #55D0DB;
  color: white;
}

.question-input {
  width: 100%;
}

.clr-form {
  width: 100%;
}

.clr-control-container {
  width: 100%;
}

.clr-textarea {
  width: 100%;
}

.car {
  width: 100%
}

.chatbot {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

