<a *ngFor="let topic of topics" routerLink="/question/{{topic?.topicId}}">
  <div class="card">
    <div class="card-block">
      <div class="info-first-part">
        <div class="vertic"><span>25</span><clr-icon shape="chat-bubble" class="is-warning icon-custom" size="28"></clr-icon></div>
        <div class="vertic"><span>45</span><clr-icon shape="thumbs-up" class="is-info icon-custom" size="28"></clr-icon></div>
      </div>
      <div>
        <div class="card-title question">
          {{topic?.topicName}}
        </div>
        <div class="card-text">
          <div>Dernière réponse le <span>{{topic?.dateTime }}</span></div>
          <div class="categorie-content blue-background">{{topic?.category.categoryName}}</div>
        </div>
      </div>
    </div>
  </div>
</a>

<a routerLink="/question/1">
  <div class="card">
    <div class="card-block">
      <div class="info-first-part">
        <div class="vertic"><span>25</span><clr-icon shape="chat-bubble" class="is-warning icon-custom" size="28"></clr-icon></div>
        <div class="vertic"><span>45</span><clr-icon shape="thumbs-up" class="is-info icon-custom" size="28"></clr-icon></div>
      </div>
      <div class="car">
        <div class="card-title question">
          Est-il possible d'avoir une bourse pour réaliser un stage en Angleterre de plus de 5 mois qui ne sera pas payer ?
        </div>
        <div class="card-text">
          <div>Dernière réponse le <span>06/12/2019</span></div>
          <div class="categorie-content yellow-background">Logement</div>
        </div>
      </div>
    </div>
  </div>
</a>

<a routerLink="/question/2">
  <div class="card">
    <div class="card-block">
      <div class="info-first-part">
        <div class="vertic"><span>25</span><clr-icon shape="chat-bubble" class="is-warning icon-custom" size="28"></clr-icon></div>
        <div class="vertic"><span>45</span><clr-icon shape="thumbs-up" class="is-info icon-custom" size="28"></clr-icon></div>
      </div>
      <div class="car">
        <div class="card-title question">
          Est-il possible d'avoir une bourse pour réaliser un stage aen Angleterre de plus de 5 mois qui ne sera pas payer ?
        </div>
        <div class="card-text">
          <div>Dernière réponse le <span>06/12/2019</span></div>
          <div class="categorie-content blue-background">Bourse</div>
        </div>
      </div>
    </div>
  </div>
</a>

<div class="chatbot">
  <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/18c5d0ed-f821-4aa9-9d44-b72e78269d39">
  </iframe>
</div>
