header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header .search {
  margin: auto;
}

.header-top {
  background-color: #55D0DB;
}

header .form-special {
  width: 80%;
}

header .input-special {
  margin: 0;
  background: white;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.header-top img {
  height: 70%;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px solid;
  margin-bottom: 0.7rem;
}

.user-content .initials {
  background-color: #55D0DB;
  padding: 1rem;
  border-radius: 300px;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
}

.icon-perso {
  width: 0.9rem;
}

.discussion-content, .categories-content {
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: #ccc 1px solid;
  margin-bottom: 0.7rem;
}

.discussion-content a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.categories-content a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.categories-content a {
  text-decoration: none;
}

.categories-content a div {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.2rem;
  margin-right: 0.4rem;
}

.categories-content a span {
  text-transform: uppercase;
  font-weight: bold;
}

.discussion-content a:hover {
  text-decoration: none;
  color: #229faa;
  font-weight: bolder;
}

.discussion-content a img {
  margin-right: 0.4rem;
}

.blue-background {
  background-color: #55D0DB;
}

.blue:hover {
  color: #55D0DB;
}

.yellow-background {
  background-color: #F7C948;
}

.yellow:hover {
  color: #F7C948;
}

.question-input {
  width: 100%
}
