<div class="main-container">
  <header class="header header-6 header-top">
    <img src="./../assets/png/logo.png">
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>
  </header>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <div class="user-content">
          <p class="initials">{{user?.username.charAt(0)}}</p>
          <p>{{user?.username}}</p>
        </div>
        <div class="discussion-content">
          <a (click)="isModalVisible=true"><img class="icon-perso" src="./../assets/png/plus-square-outline.png">Démarrer une nouvelle discussion</a>
          <a (click)="getAllTopics()"><img class="icon-perso" src="./../assets/png/grid-outline.png"> Toutes les discussions</a>
        </div>
        <div class="categories-content">
          <a *ngFor="let category of categories" class="blue" (click)="getTopicsByCategory(category.categoryId)"><div class="blue-background"> </div><span>{{category?.categoryName}}</span></a>
<!--          <a class="yellow"><div class="yellow-background"> </div><span>{{category?.categoryName}}</span></a>-->
        </div>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isModalVisible"[clrModalSize]="'lg'">
  <h3 class="modal-title">Insertion d'une nouvelle question</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>Question</label>
        <input clrInput placeholder="Question" name="question" class="question-input" value="{{topic?.topicName}}"/>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isModalVisible = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="addNewTopic(); isModalVisible = false">Ok</button>
  </div>
</clr-modal>



